SEPOLIA_RPC_URL=        # I use alchemy for RPC_URLs
ETHERSCAN_API_KEY=      # Make an account on etherscan
KEYSTORE_FILE_PATH=     # store your encryped private key with `cast wallet import [name] --interactive`